<div class="container">
  <div class="layout" [ngStyle]="{ 'grid-template-columns': 'repeat(' + column + ',' + gridWidth + 'px)'}">
    <div class="layout-item" [ngStyle]="{'height.px': gridWidth-2}" *ngFor=" let row of rows"></div>
  </div>
  <div class="koStage">
    <ko-stage [config]="configStage" #stage>
      <ko-layer>
        <ko-rect [config]="configSquareStage" #square>
        </ko-rect>
        <ko-circle [config]="configCircle1" (dragmove)="dragmove($event)" #circle></ko-circle>
        <ko-circle [config]="configCircle2" (dragmove)="dragmove($event)" #circle></ko-circle>
      </ko-layer>
    </ko-stage>
    <button class="save-btn" (click)="handleClick($event)">Save</button>
  </div>
</div>
