<div class="container">
  <div class="layout" style="grid-template-columns: repeat(17, 30px);">
    <div class="layout-item" style="height: 28px;" *ngFor="let row of rows; let index = index"></div>
  </div>
  <div class="koStage">
    <ko-stage [config]="configStage" #stage>
      <ko-layer>
        <ko-rect [config]="configSquareStage" #circle>
        </ko-rect>
        <ko-circle [config]="configCircle" (dragmove)="dragmove($event)" #circle></ko-circle>
        <ko-circle [config]="configCircle" (dragmove)="dragmove($event)" #circle></ko-circle>
      </ko-layer>
    </ko-stage>
    <button class="save-btn" (click)="handleClick($event)">Save</button>
  </div>
</div>
